@media all and (min-width: 1024px) {
  .productSub {
    position: absolute;
    left: 32vw;
    top: 28vw;
  }
}
@media all and (max-width: 1024px) {
  .cursor,
  .smallCursor {
    left: 25%;
    top: 25%;
    animation: moveCursor infinite 10s;
  }
  .cursor {
    width: 25vw;
  }
  .smallCursor {
    width: 2vw;
    height: 2vw;
    aspect-ratio: 1;
    animation: moveCursor infinite 10s;
  }
  .details {
    grid-column: span 1;
  }
  .options {
    grid-column: 2;
  }

  .bookOverlay {
    flex-direction: column;
    margin-left: 0;
    padding-left: 10%;
    padding-top: 4vh;
    padding-right: 10%;
  }

  .bookOverlay > .page {
    margin-left: 0;
    width: 100%;
  }
  .nav {
    width: 100%;
    padding-left: 0;
  }
  .pageSwitches {
    width: 80%;
    position: absolute;
    right: 10vw;
    bottom: 4vw;
  }

  .pageClose {
    font-size: 3vw;
  }
  .pagesArrows > div {
    font-size: 2.8vw;
  }
  .title {
    padding-top: 8vw;
  }
  nav > a:nth-of-type(odd) {
    text-align: right;
  }
  .menu > a {
    width: 100%;
  }
  form {
    grid-template-columns: 35% 45%;
  }
  .birth + .tag {
    grid-column: 1;
  }
  .birthDate {
    grid-column: 1;
  }
  .death.date {
    grid-column: 2;
    text-align: left;
  }
  .birth.date {
    text-align: left;
  }
  .name {
    margin-bottom: 7vw;
  }

  .birthDate,
  .deathDate {
    padding-left: 2vw;
  }
  form > * {
    font-size: 4vw;
  }
}

@media all and (min-width: 1024px) and (max-width: 1920px) {
  .wave img {
    transform: rotate(45deg);
    position: absolute;
    width: 320%;
    top: -5%;
    left: -110%;
    pointer-events: none;
  }
}

@media all and (min-width: 451px) and (max-width: 1024px) and (orientation: portrait) {
  .cardText {
    min-width: 60%;
  }
  .itemCard {
    padding: 0vw 0vw 0vw 0vw;
  }
  .overlap {
    padding-left: 10vw;
  }

  .index > nav {
    padding: 10vw;
  }
  .buyMenu {
    padding-left: 4vw;
  }
  form {
    padding-top: 4vw;
  }
  .pageInfo {
    font-size: 2vw;
  }
  .titles + .menu {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    top: auto;
  }
  .title {
    font-size: 2vw;
    width: 70%;
  }
  .index h1 {
    font-size: 3vw;
  }
  .titles {
    flex-direction: column;
    align-items: end;
    right: 20vw;
    width: 80%;
  }

  .wave img {
    transform: rotate(40deg);
    position: absolute;
    width: 220%;
    top: 17%;
    left: -150%;
    scale: 5;
  }

  .buyButton:hover:after,
  a:hover:after,
  .button:hover:after,
  .toCart:hover:after,
  .fromCart:hover:after,
  .link > span:hover:after,
  .buyButtons > span:hover:after {
    top: 2vw;
  }
  .button:hover:after {
    top: auto;
    bottom: -0.3vw;
  }
  .asset {
    width: 55vw;
    flex-direction: column;
    aspect-ratio: 0.7;
    float: left;
  }
  .poster {
    width: 55vw;
    aspect-ratio: 0.7;
    height: auto;
  }
  .poster:last-child {
    margin-right: 0vw;
  }
  .poster1 > .menuButtons {
    --i: 0;
  }

  .poster2 > .menuButtons {
    --i: 0;
  }

  .bookArea > .menuButtons {
    --i: 0;
  }

  .postersArea > .menuButtons {
    --i: 0;
  }
  .shopNav > .menuButtons {
    animation: none;
  }

  .scrollArea {
    overflow: visible;
  }
  .indexA {
    overflow: hidden;
    width: 16vw;
    height: 16vw;
  }
  .menu {
    border: none;
    background: none;
    height: 90vw;
  }
  .menuButtons {
    flex-direction: column;
    display: block;
    width: 20vw;
  }

  .dragArea {
    display: none;
  }

  .price,
  .buyButton,
  .description,
  .cardText,
  .toCart,
  .fromCart,
  .buyMenu > div,
  .buyButtons > span,
  .menuButtons > a,
  .menuButtons > span > a,
  .openButton,
  .menu > a,
  .link > span,
  .button,
  form > * {
    font-size: 2vw;
  }

  .close,
  .closeForm {
    font-size: 3vw;
  }
  .buyOperations {
    margin-bottom: 5vw;
  }
  .previewContent {
    margin-bottom: 2vw;
  }
  .cartScroll {
    height: 13vw;
  }
  .cart {
    width: 50vw;
    left: 30vw;
  }
  .buyButton {
    margin-left: 0;
  }
  .buyOperations {
    position: static;
  }
  .fromCart {
    right: auto;
  }
  section {
    padding-right: 20vw;
    margin-left: 30vw;
    width: 70%;
  }
  .previewBox {
    order: 2;
    padding-right: 0;
    position: static;
  }
  .shopMechanismBox {
    order: 1;
    position: static;
    height: 25vw;
  }
  .albumCover,
  .posterCover {
    width: 10vw;
  }
  .shopMechanismBox,
  .previewBox {
    padding-left: 0;
    width: 100%;
  }
  .shop {
    flex-direction: column;
  }
  .shopList {
    flex-direction: row;
    overflow: scroll;
  }

  .shopList::-webkit-scrollbar {
    display: none;
  }
}

@media all and (max-width: 450px) {
  form {
    grid-template-columns: 20% 80%;
  }

  .Name,
  .deathReasons,
  .birthDate,
  .birth + .tag,
  .options + div {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .birth.date {
    margin-bottom: 2vw;
  }
  .birth.date,
  .death.date,
  .birthDate,
  .birth + .tag,
  .options,
  .details {
    grid-column: 1 / span 2;
  }
  .details,
  .options {
    margin-top: 2vw;
  }
  .link {
    right: 4vw;
  }
  .lens {
    backdrop-filter: blur(20px);
  }
  .book > p,
  .pageInfo {
    font-size: 4vw;
  }
  section {
    margin-left: 10vw;
    padding-right: 10vw;
    width: 90%;
  }
  .scrollArea {
    overflow: visible;
  }

  .indexA {
    width: 8vw;
    height: 100%;
    overflow: hidden;
  }
  .postersArea > .menuButtons {
    display: block;
  }
  .menuButtons > a,
  .posterButton {
    display: none;
  }

  .posterbuttons {
    position: absolute;
    left: 17vw;
    width: 110vw;
    background-color: white;
    padding-bottom: 5vw;
    top: -20%;
  }
  .posterbuttons:after {
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    top: -119%;
    left: -2%;
    background-color: white;
  }
  .asset {
    top: 20%;
    width: 100%;
    height: auto;
    flex-direction: column;
    float: left;
  }

  .asset:has(.poster) {
    width: 100%;
  }

  .index h1 {
    font-size: 5vw;
  }
  .poster:last-child {
    margin-right: 0vw;
  }
  .posters {
    margin-left: 10vw;
    padding-right: 10vw;
    width: 90%;
  }
  .posterbuttons {
    padding-left: 0vw;
  }
  .titles {
    flex-direction: column;
    align-items: start;
    left: 10vw;
    width: 80%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 30vw 0;
  }

  .wave img {
    transform: rotate(70deg);
    position: absolute;
    width: 220%;
    top: -54%;
    left: -160%;
    scale: 5;
  }
  .buyButton:hover:after,
  a:hover:after,
  .button:hover:after,
  .toCart:hover:after,
  .fromCart:hover:after,
  .link > span:hover:after,
  .buyButtons > span:hover:after {
    top: 4vw;
  }
  .menu {
    border: none;
    background: none;
    scale: 0.8;
  }
  .scrollArea {
    width: 8vw;
  }
  .fromCart {
    right: auto;
  }
  .cart {
    padding-bottom: 6vw;
  }
  .dragArea {
    display: none;
  }
  .menuButtons {
    display: none;
  }
  .navIMG {
    top: -5vw;
  }
  .buyOperations {
    margin-bottom: 4vw;
  }
  .openButton {
    right: 2vw;
    top: 4vw;
    left: auto;
    font-size: 3vw;
  }
  .mobileCover {
    position: absolute;
    height: 30vh;
    bottom: -4vw;
    width: 100%;
    background: linear-gradient(360deg, white, transparent);
    pointer-events: none;
  }
  .shop {
    height: auto;
    flex-direction: column;
    padding: 60px 40px 60px;
    width: 100%;
    margin-left: 0;
  }
  .shopMechanismBox {
    position: static;
  }
  .openButton {
    display: none;
  }
  .description {
    margin-bottom: 20vw;
    margin-top: 5vw;
  }
  .cartArea > .albumCover {
    margin-top: 5vw;
  }
  .shopMechanismBox {
    order: 1;
  }
  .shopMechanismBox,
  .previewBox {
    padding-left: 0;
    width: 100%;
  }
  .firstRow {
    margin-bottom: 8vw;
  }
  .secondRow {
    margin-bottom: 12vw;
  }
  .previewBox > .fromCart {
    position: absolute;
    right: 40px;
    bottom: auto;
  }
  .cartScroll {
    height: 20vw;
  }

  .albumCover,
  .posterCover {
    width: 15vw;
  }
  .previewBox {
    order: 2;
    padding-right: 0;
    position: static;
  }
  .title,
  .price,
  .buyButton,
  .description,
  .cardText,
  .toCart,
  .fromCart,
  .buyMenu > div,
  .buyButtons > span,
  .link > span,
  .button,
  .menuButtons > a,
  .dropDown > a,
  .menu > a {
    font-size: 4vw;
  }
  .titles + .menu {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    top: auto;
  }
  .shopList {
    flex-direction: row;
    overflow: scroll;
  }

  .shopList::-webkit-scrollbar {
    display: none;
  }
  .boughtItems:not(:has(.itemCard)) {
    display: none;
  }

  .firstRow > .albumCover,
  .secondRow > .albumCover {
    margin-bottom: 6vw;
  }
  .shopMechanismBox {
    height: 40vw;
  }
  .close,
  .closeForm,
  .pagesArrows > div,
  .pageClose {
    font-size: 5vw;
    bottom: 40px;
    left: auto;
    right: 40px;
  }
  form {
    padding: 40px;
    box-sizing: border-box;
  }
  .sendForm {
    bottom: 40px;
    left: 40px;
  }

  .buyButtons {
    gap: 30px;
  }
  .finalPrice {
    width: 100%;
  }
  .buyButtons > span {
    padding: 5px 10px;
  }
  .buyButton {
    margin: 0;
  }
  .previewContent {
    margin-bottom: 5vw;
  }
  .cart {
    position: fixed;
    right: auto;
    width: calc(100% - 80px);
  }
  .buyOperations {
    position: relative;
    bottom: 0;
  }
  .overlap {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .boughtItems {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
  .buyMenu {
    position: relative;
    width: 100%;
    padding: 40px;
  }
}
