@media all and (min-width: 451px) {
  .productSub {
    position: absolute;
    left: 32vw;
    top: 28vw;
  }
}

@media all and (max-width: 450px) {
  .menu {
    border: none;
    background: none;
    scale: 0.8;
  }
  .scrollArea {
    width: 8vw;
  }
  .cart {
    padding-bottom: 6vw;
  }
  .dragArea {
    display: none;
  }
  .menuButtons {
    display: none;
  }
  .navIMG {
    top: -5vw;
  }
  .buyOperations {
    margin-bottom: 4vw;
  }
  .openButton {
    right: 2vw;
    top: 4vw;
    left: auto;
    font-size: 3vw;
  }
  .mobileCover {
    position: absolute;
    height: 30vh;
    bottom: -4vw;
    width: 100%;
    background: linear-gradient(360deg, white, transparent);
    pointer-events: none;
  }
  .shop {
    height: auto;
    flex-direction: column;
    padding: 60px 40px 60px;
    width: 100%;
    margin-left: 0;
  }
  .shopMechanismBox {
    position: static;
  }
  .openButton {
    display: none;
  }
  .description {
    margin-bottom: 20vw;
    margin-top: 5vw;
  }
  .cartArea > .albumCover {
    margin-top: 5vw;
  }
  .shopMechanismBox,
  .previewBox {
    order: 1;
    padding-left: 0;
    width: 100%;
  }
  .firstRow {
    margin-bottom: 8vw;
  }
  .secondRow {
    margin-bottom: 12vw;
  }
  .previewBox > .fromCart {
    position: absolute;
    right: 40px;
    bottom: auto;
  }
  .cartScroll {
    height: 20vw;
  }

  .albumCover,
  .posterCover {
    width: 15vw;
  }
  .previewBox {
    order: 2;
    padding-right: 0;
    position: static;
  }
  .title,
  .price,
  .buyButton,
  .description,
  .cardText,
  .toCart,
  .fromCart,
  .buyMenu > div,
  .buyButtons > span {
    font-size: 3vw;
  }
  .shopList {
    flex-direction: row;
    overflow: scroll;
  }
  .shopMechanismBox {
    height: 40vw;
  }
  .close,
  .closeForm {
    font-size: 5vw;
    bottom: 40px;
  }
  .buyButtons > span {
    padding: 5px 10px;
  }
  .buyButton {
    margin: 0;
  }
  .previewContent {
    margin-bottom: 5vw;
  }
  .cart {
    position: fixed;
    right: auto;
    width: calc(100% - 80px);
  }
  .buyOperations {
    position: relative;
    bottom: 0;
  }
  .overlap {
    padding: 0;
    margin: 0;
    flex-direction: column;
  }
  .boughtItems {
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
  }
  .buyMenu {
    position: relative;
    width: 100%;
    padding: 40px;
  }
}
