body {
  font-family: 'Press Start 2P', Arial, sans-serif;
  user-select: none;
  overflow-x: clip;
  cursor: none;
}
a {
  cursor: none;
}

video {
  width: 50%;
  transform-origin: top left;

  transition: 1s all;
  border: 0.15vw solid black;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
@keyframes pop {
  0%,
  100% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}
form {
  z-index: -1;
  padding-top: 2vw;
  width: 100vw;
  opacity: 0;
  position: fixed;
  display: grid;
  grid-template-columns: 20% 30% 15% 15% 20%;
  transition: all 0.4s;
}
.openButton {
  bottom: 4vw;
  font-size: 1vw;
  left: 2vw;
  position: fixed;
  z-index: 3;
}
form > * {
  font-size: 1vw;
  font-family: 'Press Start 2P';
  z-index: 3;
}
.Name,
.deathReasons,
.deathDetails {
  padding-left: 2vw;
  padding-right: 2vw;
}

.options > .selected {
  opacity: 1;
}

.options > .selected:after {
  position: absolute;
  bottom: -0.1vw;
  content: '';
  width: 100%;
  transform-origin: center;
  height: 0.1vw;
  left: 0;
  background-color: black;
  animation: 0.2s scale;
}
.options,
.details,
.name {
  padding-right: 2vw;
}
input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='date']::-webkit-input-placeholder {
  visibility: hidden !important;
}
input[type='date'] {
  text-align: right;
}
.birth + .tag {
  grid-column: 3;
}
textarea {
  height: 15vh;
}

input,
textarea {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: block;
  padding: 0;
}

input[type='date'] {
  opacity: 0.4;
}

input[type='date']:hover {
  opacity: 1;
}

input:focus,
textarea:focus,
input:active,
textarea:active {
  outline: none;
}
.death {
  grid-column: 4;
}
.death + .tag {
  grid-column: 1;
  margin-top: 7vw;
}
.howDead,
.options {
  margin-top: 7vw;
}
.deathDetails,
.details {
  margin-top: 14vw;
}
.options {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3vw;
  row-gap: 1vw;
  grid-column: 2 / span 3;
}

.options > a {
  opacity: 0.3;
}

.options > a:hover {
  opacity: 1;
}
.options + div {
  grid-column: 1;
}
.details {
  grid-column: span 3;
}

.webposter1 {
  background-image: url('../img/webposter1.gif');
  height: 100vh;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  z-index: -3;
}
.webposter1 > a:hover:after,
.webposter2 > a:hover:after {
  display: none;
}
.webposter2 {
  background-image: url('../img/webposter2.gif');
  height: 100vh;
  background-size: 100% auto;
  background-position: center;
  position: relative;
  z-index: -3;
}

.finalPrice {
  display: flex;
  width: 26vw;
  justify-content: space-between;
}
.lensPoster {
  z-index: 2;
  position: fixed;
}
h1:hover:after {
  left: 2vw;
}
.lens {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(30px);
}

.bookOverlay {
  background-color: rgba(217, 217, 217, 0.5);
  backdrop-filter: blur(30px);
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: -1;
  margin-left: 0;
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  transition: all 0.4s;
}
.bookOverlay > .page {
  margin-left: 2vw;
  transition: 0.2s linear;
  width: 80%;
  position: relative;
  order: 1;
}
.nav {
  order: 2;
  width: calc(20% - 2vw);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vw;
  box-sizing: border-box;
}

.poster1 > a > .navIMG {
  --i: -27;
  animation: moveRight 3.5s forwards ease-out;
  animation-delay: -2.5s;
}
.poster1 > .menuButtons {
  --i: -27;
  animation: moveRight 3.5s forwards ease-out;
  animation-delay: -2.5s;
}

.poster2 > a > .navIMG {
  --i: -34;
  animation: moveRight 4s forwards ease-out;
  animation-delay: -3s;
}
.poster2 > .menuButtons {
  --i: -34;
  animation: moveRight 4s forwards ease-out;
  animation-delay: -3s;
}

.bookArea > a > .navIMG {
  --i: -18;
  animation: moveRight 3s forwards ease-out;
  animation-delay: -2s;
}
.bookArea > .menuButtons {
  --i: -18;
  animation: moveRight 3s forwards ease-out;
  animation-delay: -2s;
}
.postersArea > a > .navIMG {
  --i: -9;
}
.postersArea > .menuButtons {
  --i: -9;
}
.shopNav > a > .navIMG {
  animation: moveLeft 2s forwards ease-out;
  animation-delay: -1s;
}
.shopNav > .menuButtons {
  animation: moveLeft 2s forwards ease-out;
  animation-delay: -1s;
}
.pageSwitches {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.pagesArrows {
  display: flex;
  gap: 5%;
  font-size: 1.3vw;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
}
.overlap {
  margin-left: 0;
}
.shop {
  height: 100vh;
}
.scrollArea {
  width: 16vw;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition-property: height;
  transition-duration: 1s;
}
.dropDownHeight {
  animation: dropDown 1s forwards;
}
@keyframes dropDown {
  0% {
    height: 16vw;
  }
  100% {
    height: 27vw;
  }
}

.webposter1 > a,
.webposter2 > a {
  position: absolute;
}

.navIMG {
  width: 50vw;
  top: -2vw;
  position: absolute;
  animation: moveRight 2s forwards ease-out;
  animation-delay: -1s;
}
.menuButtons {
  width: 50vw;
  display: flex;
  justify-content: space-around;
  position: absolute;
  animation: moveRight 2s forwards ease-out;
  animation-delay: -1s;
  top: 13vw;
}
@keyframes moveRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(var(--i) * 1vw);
  }
}

@keyframes moveLeft {
  0% {
    left: 9vw;
  }
  100% {
    left: 0;
  }
}
.menuButtons > a,
.menuButtons > span > a {
  font-size: 0.7vw;
}
.posterbuttons {
  padding-left: 2vw;
}
.active > .posterbuttons > h1 {
  display: block;
}
.button {
  display: none;
}

.menuButtons > span {
  display: flex;
  width: 10vw;
  flex-direction: column;
  align-items: baseline;
}
a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: black;
}
a:hover,
a:active {
  color: black;
}
section {
  padding-right: 20vw;
  width: 80%;
  padding-top: 4vh;
  box-sizing: border-box;
  margin-left: 20vw;
}
.book > p {
  font-size: 2.5vw;
}
.book > p:first-child {
  margin-bottom: 4vw;
}
.bookSections {
  display: flex;
  gap: 2vw;
  flex-direction: column;
}
.bookSection {
  position: relative;
}
.bookSections + p {
  margin-top: 4vw;
}
.page {
  width: 22%;
  aspect-ratio: 1.38;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  right: 0;
  top: 0;
  transition: 2s ease-out;
}
.posters {
  width: 80vw;
  height: 100vh;
  padding-right: 20vw;
}

.index {
  padding-top: 0;
  margin-left: 0;
}

.pageClose {
  font-size: 1.5vw;
}
.close,
.closeForm {
  position: fixed;
  font-size: 1.5vw;
  left: 80vw;
  bottom: 4vw;
  z-index: 100;
  display: none;
}

.overlap {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  opacity: 0;
  z-index: -1;
  padding-left: 20vw;
  margin-top: 0;
  display: flex;
  background-color: rgba(217, 217, 217, 0.5);
  transition: all 0.4s;
}

.buyMenu > div,
.buyButtons > span {
  font-size: 1vw;
}
.buyMenu > div:nth-child(1) {
  margin-bottom: 8vw;
}
.buyMenu > div + div {
  margin-bottom: 1.5vw;
}
.buyButtons {
  display: flex;
  gap: 4vw;
}

.sendForm {
  grid-column: 1;
  position: fixed;
  bottom: 4vw;
  left: 2vw;
}
.buyButtons > span {
  box-sizing: border-box;
}
.buyMenu {
  position: fixed;
  z-index: 11;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 2vw;
  display: none;
  box-sizing: border-box;
}
.shop {
  display: flex;
  box-sizing: border-box;
}

.cardText {
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 1vw;
}

.boughtItems,
.buyMenu {
  width: 50%;
  margin-bottom: 4vw;
}
.itemCard {
  width: 100%;
  display: flex;
  padding: 0vw 2vw 1vw 2vw;
  margin-bottom: 4vw;
  box-sizing: border-box;
}
.itemCard > .item {
  width: 50%;
}

.shopList {
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  filter: grayscale();
}

.firstRow,
.secondRow {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.firstRow {
  margin-bottom: 2vw;
}

.previewContent > .albumCover,
.previewContent > .posterCover,
.itemCard > .albumCover,
.itemCard > .posterCover {
  width: 100%;
  animation: scale 1s;
}
.previewContent > .posterCover,
.itemCard > .posterCover {
  aspect-ratio: 0.7;
}

.previewContent > .albumCover,
.itemCard > .albumCover {
  aspect-ratio: 1;
}

.albumCover {
  width: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
  transform-origin: right top;
}

.firstRow > .albumCover,
.secondRow > .albumCover {
  margin-bottom: 2vw;
}

.firstRow > .albumCover:hover,
.secondRow > .albumCover:hover {
  width: 50%;
  transition: 1s all;
}
.firstRow > .posterCover:hover,
.secondRow > .posterCover:hover {
  width: 35%;
  transition: 1s all;
}
.posterCover {
  width: 5vw;
  background-size: cover;
  transform-origin: right top;
  background-repeat: no-repeat;
}

@keyframes dissapear {
  100% {
    width: 0px;
  }
}
.previewBox,
.shopMechanismBox {
  width: 50%;
  height: 100%;
  padding-bottom: 4vw;
  position: relative;
  box-sizing: border-box;
}
.previewBox {
  padding-right: 2vw;
}
.shopMechanismBox {
  padding-left: 2vw;
}
.cart {
  display: flex;
  justify-content: space-between;
  right: 0;
  align-items: end;
  position: absolute;
  bottom: 4vw;
  width: 100%;
}
.cartArea > .albumCover,
.cartArea > .posterCover {
  display: inline-block;
}

.cartArea > .albumCover {
  margin-top: 3vw;
}

.cartScroll {
  height: 8vw;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.cartArea {
  position: absolute;
  display: flex;
  height: 100%;
  width: auto;
  right: 0;
  bottom: 0;
  pointer-events: none;
  scale: 0.8;
  transform-origin: right bottom;
}

.previewContent {
  aspect-ratio: 1;
  max-width: 100%;
  margin-bottom: 1%;
}

.previewContent:has(.posterCover) {
  width: 100%;
}

.productInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.buyOperations {
  display: flex;
  position: absolute;
  bottom: 4vw;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}
.toCart,
.fromCart {
  position: relative;
  font-size: 1vw;
  display: inline-block;
}
.fromCart {
  right: 2vw;
}

.buyButton {
  position: relative;
  font-size: 1vw;
  margin-right: 2vw;
  margin-left: 2vw;
}
.buyButton:hover:after,
a:hover:after,
.button:hover:after,
.toCart:hover:after,
.fromCart:hover:after,
.link > span:hover:after,
.buyButtons > span:hover:after {
  position: absolute;
  top: 0.8vw;
  content: '';
  width: 100%;
  transform-origin: center;
  height: 0.1vw;
  left: 0;
  background-color: black;
  animation: 0.2s scale;
}
.button:hover:after {
  top: auto;
  bottom: -0.3vw;
}
.buyButtons > span {
  position: relative;
}
.link {
  position: absolute;
  right: 20vw;
  top: 4vw;
  font-size: 1vw;
}
.link > span {
  position: relative;
}
.productSub {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.itemInfo {
  width: 100%;
}

.indexA:after {
  display: none;
}

.button,
.menuButtons > a,
.dropDown > a,
.menu > a {
  margin-bottom: 1vw;
  font-size: 0.7vw;
  position: relative;
}

.index {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  gap: 40vw;
  background-color: #fbfbfb;
}

.titles {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
  pointer-events: none;
}
.menu {
  height: 16vw;
  width: 16vw;
  left: 2vw;
  top: 2vw;
  background-color: white;
  position: fixed;
  border: 0.1vw solid black;
  z-index: 7;
}

.index h1 {
  font-size: 1vw;
  display: inline-block;
  z-index: 1;
}

body {
  display: flex;
}

.asset {
  float: right;
  aspect-ratio: 0.7;
  height: calc(100% - 4vw);
  position: relative;
  gap: 1vw;
}
.poster {
  aspect-ratio: 0.7;
  height: 100%;
  position: absolute;
  background-size: cover;
  display: none;
  scale: 0;
  transform-origin: top right;
}

.poster:last-child {
  margin-right: 20vw;
}

@keyframes scale {
  0% {
    scale: 0.2;
  }
  100% {
    scale: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    margin-top: 5%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.opacityAnim {
  animation: opacity 1s forwards;
}
.description {
  font-size: 1vw;
}
.title,
.price {
  font-size: 1vw;
}
.wave {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  filter: blur(8px);
  position: absolute;
}
.wave img {
  transform: rotate(45deg);
  position: absolute;
  width: 320%;
  top: -15%;
  left: -100%;
  pointer-events: none;
  transition-property: transform, top;
  transition-duration: 1s, 0.5s;
  transition-delay: 0.3s, 0s;
}
.index > nav {
  position: absolute;
  background: none;
  border: none;
  display: none;
  width: 96%;
  justify-content: space-between;
  flex-direction: row;
  top: 50%;
  padding: 2vw;
  box-sizing: border-box;
}
.cursor {
  width: 9vw;
  aspect-ratio: 1;
  position: absolute;
  border: 0.15vw solid black;
  pointer-events: none;
  transition-property: transform;
  transition-duration: 1s;
  transform-origin: top left;
}
.dragArea {
  width: 1vw;
  height: 1vw;
  background-color: black;
  position: absolute;
  z-index: 7;
}

.pageInfo {
  padding-top: 2vw;
  font-size: 0.7vw;
}
.smallCursor {
  width: 1vw;
  height: 1vw;
  background-color: black;
  position: absolute;
  z-index: 15;
  pointer-events: none;
}

.cursor:after {
  content: '';
  display: block;
  position: absolute;
  background: #48a7ff;
  mix-blend-mode: lighten;
  width: 100%;
  height: 100%;
  z-index: 7;
  mix-blend-mode: none;
}
