section {
  width: 80vw;
  height: 100vh;
  padding-right: 20vw;
}
.menu {
  height: 100vh;
  width: 20vw;
  background-color: white;
}
body {
  display: flex;
}

.asset {
  float: right;
  margin-top: 4vh;
  aspect-ratio: 0.7;
  height: 85vh;
  position: relative;
  gap: 1vw;
}
.poster {
  aspect-ratio: 0.7;
  height: 100%;
  position: absolute;
  background-size: cover;
  display: none;
  scale: 0;
  transform-origin: top right;
}

.poster:last-child {
  margin-right: 20vw;
}

@keyframes scale {
  0% {
    scale: 0.2;
  }
  100% {
    scale: 1;
  }
}
